$border-color: #e9e9e9;
$shadow-color: #cccccc;
body{
    height:100%;
    margin-top:auto;
    font-size: 14px;
    font-family: arial,sans-serif;
    color: #222;
}
.flex{
    display:flex;
    flex-direction:column;
    align-items:center;
    text-align: center;
}
form{
    div{
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
@media (min-width: 630px){
    .search_bar{
        min-width: 600px;
    }
}
@media (max-width:629px) and (min-width: 400px){
    .search_bar{
        min-width: 80vw;
    }
}
@media (max-width: 399px){
    .search_bar{
        min-width: 200px;
    }
}
.search_bar{
    flex: 1;
    flex-wrap: wrap;
    padding: 5px 8px 0 16px;
    padding-left: 14px;
    border-radius: 25px;
    border-width: 1px;
    border-color: $border-color;
    text-align: left;
    display: flex;
    flex: 80%;
    margin-top: 37px;
    height: 34px;
    word-wrap: break-word;
    font-size: 16px;
}
.search_bar:hover{
    box-shadow: 0 0 4px 1px $shadow-color;
}
.search_bar:focus{
    outline-width:0;
}
.search_button{
    padding-top: 50px;
    margin-top:50px;
    background-color: #f8f9fa;
    border: 1px solid  #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    cursor: pointer;
    user-select: none;
}
.search_button:hover{
    border-color: $border-color;
    border-width: 0.1px;
    box-shadow: 0 1px 1px 0.5px $shadow-color;
}
.logo{
    position: relative;
    margin-top: 50px;
}
.microphone{
    height:87px;
    left:43px;
    pointer-events:none;
    position:absolute;
    top:47px;width:42px;
    transform:scale(1);
}
.logo_subtext{
    color: #4285f4;
    font-size: 16px;
    font-family: arial, sans-serif;
    white-space: nowrap;
    position: absolute;
    bottom: 8px;
    right: 100px;
}